body {
  
}

.title {

}

.subtitle {

}

.is-1 {
  
}

.is-2 {
  
}

.is-3 {
  
}

.is-4 {
  
}

.p-small {
  
}

.em {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.sup {
  font-size: 65%;
}